* {
 margin:0;
 padding:0; 
}

body{
 color: #0F0E0E;
 font-family: 'Montserrat', sans-serif;
 background:#eee; 
}

ul {
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content: space-between; 
}

a{
  text-decoration: none;
}

header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 5px 20px;
}

nav, section {
  max-width: 1400px;
}

nav, 
nav>div,
ul {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-around;
  margin: 0 auto;
}

nav>div{
  flex: 1;
}

section{
  margin: 0 auto;
  padding: 20px 40px;
  text-align: justify;
  text-justify: inter-word;
}

h2{
  color: #025375;
  font-family: 'Tomorrow', sans-serif;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto
}

.card{
  background: #fff;
  display: flex;
  flex-direction: column;;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 30px 15px; 
  justify-content: center;
  align-items: center;
  max-width:180px;
  height:200px;
  text-align: center;
}

.card h3{
  letter-spacing: -1px;
  margin: 30px auto 15px;
} 