/* ===================== Global Styles ===================== */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

a:visited, 
header a:hover{
  color: #2d2d2d;
}

body {
  color: #2d2d2d;
  font-family: "Montserrat", sans-serif !important;
  background: #eee;
  overflow-x: hidden;
}

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 40px;
  text-align: justify;
  text-justify: inter-word;
}

.titulo-section {
  color: #205375;
  font-family: "Tomorrow", sans-serif;
  margin: 15px 0;
  font-size: 1.8rem;
  font-weight: bold;
}

/* ===================== Header ===================== */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px 40px;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 500;
  z-index: 5;
}

nav,
.menu-horizontal {
  display: flex;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}

.menu-horizontal {
  width: 600px;
  align-items: center;
  justify-content: space-between;
}

.menu-vertical {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  right: 0;
  top: 75px;
  border-radius: 0 0 3px 3px;
}

.menu-vertical li{
  padding: 12px 24px;
  border-top: 1px solid #eee;
}

.menu-button {
  display: none !important;
  cursor: pointer;
  font-size: 2rem;
  margin: auto 0;
}

/* ===================== Modal ===================== */

.modal {
  --bs-modal-padding: 30px 60px !important;
  --bs-modal-width: 760px !important;
}

.modal button:active, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.modal-header {
  justify-content: center !important;
}

.modal-header h2 {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.8rem;
  color: #205375;
  text-transform: uppercase;
  margin: 0;
}

.btn-close {
  position: absolute;
  left: 94%;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-body p {
  margin: 0;
}

.coluna-modal {
  flex: 1;
}

.item-modal {
  height: 200px;
  margin: 8px 0;
}

.item-modal h3 {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.6rem;
  color: #205375;
  margin-bottom: 6px;
}

.modal-footer {
  padding: 10px !important;
}

.modal-footer button {
  width: 120px;
  outline: none;
  border: none;
  padding: 8px 0;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
}

.modal-footer button:first-child {
  color: #205375;
  background-color: #D7D6D6;
}

.modal-footer button:last-child {
  color: #fff;
  background-color: #205375;
  margin-left: 6px;
}

/* ===================== Capa ===================== */

.capa {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-top: 75px;
  text-align: center;
  background-color: #205375;
}

.capa div {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titulo-capa {
  color: #eee;
  font-family: "Tomorrow", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px 0;
}

/* ===================== Section Sobre ===================== */

.about,.p{
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 500;
}

.container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background: #fff;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  /* padding: 10px 15px 15px; */
  justify-content: center;
  align-items: center;
  max-width: 180px;
  height: 250px;
  text-align: center;
  margin: 35px 0;
}

.titulo-card {
  font-size: 1.3rem;
  letter-spacing: -1px;
  margin: 15px auto;
}

.card p {
  line-height: 1.3rem;
  font-weight: 500;
}

.circle{
  height:90px;
  width:90px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size:30px;
  color: #eee;
  border-radius:50%
}

/* ===================== Section Diagrama ===================== */

.diagrama {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  color: #eee;
  background-color: #205375;
}

.diagrama div {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.diagrama img{
  max-width:500px;
} 

.diagrama p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.4rem;
  max-width: 440px;
  margin: 40px;
}

/* ===================== Section Carreira Profissional ===================== */

.carreira{
  display: flex;
  justify-content:space-between;
}

.carreira p{
 max-width: 600px;
 margin-right: 40px;
}

.carreira img{
  width: 360px;
  margin: 0 auto;
 }

/* ===================== Section Vida academica ===================== */

.vida-academica{
  background-image: url('/assets/images/logo_ti_transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  width: 100%;
}

.vida-academica div:first-child{
  margin-right:40px;
}

.vida-academica div {
 width: 50%;
}

/* ===================== Divisória ===================== */

.linha {
  max-width: 1322px!important;
  width: 90%;
  border-bottom: 2px solid #7b7676;
  margin: 0 auto 30px;
  opacity: 0.2;
}

/* ===================== Section Contato ===================== */

.contato {
  display: flex;
  justify-content: space-around;
}

.container-contato {
  display: flex;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #205375;
}

.info-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
  margin-right: 30px;
  line-height: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.info-contato h3 {
  font-family: "Tomorrow", sans-serif;
  font-size: 23px;
  letter-spacing: 1px;
}

.info-contato i {
  font-size: 35px;
  margin: 0 5px;
  color: #eee;
}

.card-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  justify-content:space-between
}

input,
textarea {
  padding: 5px 0;
  margin: 10px auto;
  width: 200px;
  border: none;
  border-bottom: 2px solid rgb(223, 220, 220);
  color: #4d4d4d;
  font-weight: 500;
}

input:focus,
textarea:focus {
  outline: none !important;
}

.card-info input{
  margin: 5px auto;
}

.card-info button {
  width: 50%;
  align-self: center;
  margin-top: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  border: none;
  background: #205375;
  color: #eee;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #ccc;
  color: #205375;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: center;
}

.buttons a:hover{
    color: #205375;
}

button {
  font-weight: bold;
  cursor: pointer;
}

/* ===================== Footer ===================== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url("../images/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #205375;
  color: #eee;
  padding: 20px;
}

footer h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}

footer a {
  font-size: 1rem;
  line-height: 1.4rem; 
  color: #eee!important;
}

footer a:hover {
  color: #eee;
}

footer p {
  
  max-width: 280px;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
}

.conteudo-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.conteudo-footer div {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

/* ===================== Responsividade ===================== */


@media (max-width: 768px) {
  .modal-body {
    padding: 30px !important;
  }
}

@media (max-width: 660px) {
  .modal-body {
    margin: 0 auto;
    flex-direction: column;
    padding: 0 !important;
  }

  .btn-close {
    position: absolute;
    left: 90%;
  }

  .modal-header h2 {
    font-size: 1.4rem;
  }

  .item-modal h3 {
    font-size: 1.4rem !important;
  }

  .item-modal {
    max-width: 280px;
    height: 100% !important;
    margin: 30px 0 !important;
  }
}

@media (max-width: 835px) {
  .contato{
    flex-direction: column;
  }

  .container-contato{
    margin-bottom:10px;
    justify-content: space-between
  }

  textarea{
    margin-bottom: 15px!important;
  }

  .buttons a {
    margin: 10px 0;
  }
}

@media (max-width: 588px) {
  .container-contato{
    flex-direction: column;
  }

  .card-info{
    margin-top: 20px;
    height: 100%;
  }

  .info-contato{
    margin-right: 0;
  }

  input, textarea{
    width: 100%;
  }
}

@media (max-width: 860px) {

  .menu-horizontal {
    display: none
  }

  .menu-button{
    display: block !important;
  }

  .capa div {
    flex-direction: column;
  }
  
  .vida-academica{
    flex-direction: column;
    align-items: center;
  }

  .vida-academica div:first-child{
    margin: 0;
  }

  .vida-academica div{
    width:100%
  }

  .buttons a{
    text-align: center;
  }
}

@media (max-width: 980px) {
  
  .diagrama div{
    flex-direction: column;
    align-items: center;
  }
 
  .diagrama p{
    margin: 0;
    }

  .diagrama{
    padding: 20px auto
  }

  .diagrama p {
    max-width: 100%;
  }

  .diagrama img, 
  .diagrama p{
    margin-bottom: 20px;
  }

  .carreira{
    flex-direction: column;
  }

  .carreira p{
    max-width: 100%;
  }

  .carreira img{
   margin-top: 30px;
  }
}

@media (max-width: 940px) {
  footer {
    height:100%;
  }

  footer h4 {
    margin-top: 16px;
  }
  
  .conteudo-footer{
    flex-wrap: wrap;
  }

  .conteudo-footer div {
    width: 260px;
    margin: 8px auto;
  }
}